#top-img{
  position:relative;
}
#top-img>div.top-text{
  position:absolute;
  top:30%;
  left:40%;
}
#top-img>div.top-text>p{
  font-size:30px;
  font-weight:600;
  margin-top:20px;
  color:#fff;
  text-align:center;
}
#top-img>img{
  width:100%;
}
/*活动事件*/
ul.activities{
margin-top:60px;
margin-bottom:60px;
  width:100%;
  height:650px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
ul.activities>li{
  width:32%;
  height:320px;
  position:relative;
  border-bottom:1px solid rgb(102, 186, 0);
}
ul.activities>li>a>div.ac-bottom{
  height:120px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}
ul.activities>li:hover>a>div.ac-bottom>div.title,ul.activities>li:hover>a>div.ac-bottom>div.time{
 transition:all .5s linear;
 color:#fff;
}
ul.activities>li>a>div:first-child{
  width:100%;
  height:200px;
}
ul.activities>li:hover>a>div.bgImg{
  height:120px;
  opacity:1;
  margin-top:0;
}
ul.activities>li>a>div.bgImg{
  height:0;
  overflow:hidden;
  opacity:0;
  transition:all .5s linear;
  margin-top:120px;
}
ul.activities>li>a>div:first-child>img{
  width:100%;
  height:200px;
}
ul.activities>li>a>div.ac-bottom>div.title{
  font-size: 18px;
line-height: 1.5em;
text-align: left;
color: rgb(93, 93, 93);
margin-top:20px;
margin-bottom:10px;
}
ul.activities>li>a>div.ac-bottom>div.time{
 font-size: 16px;
 margin-bottom:5px;
line-height: 1.5em;
}